$dark-color: #1C6758;
$light-color: #3D8361;
$white: #EEF2E6;


.App {
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}
